.OSCSS-content-box-inner dl{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.OSCSS-content-box-inner dt{
  float: left;
  width: 30%;
  margin-left: 10px;
  font-weight: bold;
  position: relative;
}
.OSCSS-content-box-inner dd{
  width: 100%;
  max-width: 725px;
  margin: auto 0;
  overflow-wrap: anywhere;
}
.OSCSS-content-box-inner dd input,
.OSCSS-content-box-inner dd textarea,
.OSCSS-content-box-inner dd select{
  width: 100%;
}
.OSCSS-content-box-inner dd .note{
  font-size: 14px;
  color: #bfbfbf;
}
.OSCSS-portfolio-icon{
  display: block;
  position: relative;
  height: 100%;
  max-width: 240px;
  border: #bfbfbf 4px solid;
  border-radius: 5%;
  margin: auto;
}
.OSCSS-portfolio-icon-inner{
  display: block;
  position: relative;
  border: #ffffff 8px solid;
  border-radius: 5%;
  overflow: hidden;
}
.OSCSS-portfolio-icon-inner:before {
    content: "";
    display: block;
    padding-top: 75%;
}
.OSCSS-portfolio-icon img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 460px) {
  .OSCSS-content-box-inner dt{
    width: 100%;
    margin: 0 auto 10px;
  }
  .OSCSS-portfolio-icon{
    margin: auto;
  }
  .OSCSS-content-box-inner dd{
    width: 100%;
    margin: 0 auto;
  }
}
