#OSCSS-canvas{
    position: fixed;
    width: 100%;
    height: 0;
    background-color: #ffffff;
    z-index: 9;
    transition: all 0.3s ease-out;
    opacity: 0.5;
}
/* ========================================
    ヘッダー
========================================= */
#header{
  position:fixed;
  display:block;
  width: 100%;
  max-height: 60px;
  z-index:9;
  background-color: white;
  top:0px;
  padding: 10px;
  border-bottom: thin solid rgb(231, 231, 231);
  box-shadow : 0px  1px 5px #ebebeb ;
}
#header-block{
  position: relative;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}
#logo{
  height: 40px;
  width: auto;
  margin-left: 10px;
}
#header-nav, #guest-nav{
  position: absolute;
  top: 0;
  bottom: 0; 
  right: 0;
  line-height: 40px;
}

#header-nav a, #guest-nav a {
  position: relative;
  text-decoration: none;
  color:#151719;
}
.OSCSS-brand{
  display: inline-block;
  height: 40px;
}
#OSCSS-searcher{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: -1;
}
#GlobalSearcher{
  opacity: 0;
  transition: all 1s ease-out;
}
#OSCSS-searcher .c-text-input{
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  pointer-events: none;
}
.OSCSS-nav{
  display: inline-block;
  _display: inline;
}
#OSCSS-nav-search img{
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.OSCSS-nav-item{
  margin: auto 10px;
}

.tooltip-font-awesome{
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip-font-awesome p{
  margin:0;
  padding:0;
}

#my-img{
  width: 35px;
  height:35px;
  border-radius: 50%;
  object-fit:cover;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.99em;
  color: white;
  background:red;
  text-align:center;
  min-width:2em;
  font-weight:bold;
}

.notification-img{
  float: left;
  margin: 5px;
}
.notification-msg{
  float: left;
  max-width: 120px;
}

.notification-row:hover{
  background-color:#F8F9FA;
}

@media screen and (max-width: 460px) {
  #logo{
    height: 40px;
    margin-left: 3px;
  }
  #header-nav,  #guest-nav{
    margin-left: 5px;
    margin-right: 5px;
  }
  #header-nav a, #guest-nav a {
    font-size: 15px;
  }
}

