@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.OSCSS-socialLoginList{
  width: auto;
  margin: auto;
}
.btn-forSocial{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #848484;
  background-color: #ffffff;
  filter: drop-shadow(-1px 3px 3px #e5e5e5);
  width: 300px;
  max-width: 100%;
}
.btn-forSocial:hover{
  color: #848484;
  background-color: #e5e5e5;
}
.btn-forSocial img{
  width: 20px;
  height: 20px;
}

.OSCSS-login-line{
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
    font-size: 25px;
}
.OSCSS-login-line span{
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
    color: #262626;
    font-size: 14px;
    font-weight: normal;
}
.OSCSS-login-line span:before,.OSCSS-login-line span:after {
    border-top: 1px solid #262626;
    content: "";
    position: absolute;
    top: 50%;
    width: 99em;
}
.OSCSS-login-line span:before {
    right: 100%;
}
.OSCSS-login-line span:after {
    left: 100%;
}

